:root {
  --main-font-family: "Playfair Display", serif;
  --second-font-family: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --secondary-color: #272142;
  --bg-light: #F8F9FA;
}

@media (max-width: 900px) {
  .hero {
    padding: auto;
  }

  .hero h1 {
    font-size: 56px;
  }

  .project-description {
    padding: 0 !important;
    text-align: center;
  }

  .page-content {
    text-align: center;
    padding: 0;
  }

  .personal-photo {
margin-top: 0 !important;
}
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--second-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h4 {
  color: var(--secondary-color);
  font-family: var(--second-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 50px 40px;
}
 
.page-container {
  margin-top: 60px;
  padding: 100px 60px;

}

.page-content h1 {
  font-size: 64px;
  line-height:80px;
}

.page-content h4 {
  font-size: 18px;
  font-family: var(--second-font-family);
}

.page-content {
  margin: 30px;
}

.personal-photo {
  width: 450px;
  
}

.bg-light {
  background: var(--bg-light) !important;
}

body {
  font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--main-font-family);
  font-weight: bold;
}

h1 {
  font-size: 86px;
  line-height: 1.2;
}

h2 {
  font-size: 50px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
